.jumbotron {
  background-color: #6f4e3783;
  padding-top: 5rem;
}
#produk {
  background-color: #6f4e3783;
}
#navbar {
  background-color: #6f4e37;
}

footer {
  background-color: #6f4e37;
}
.btn {
  background-color: #6f4e37;
}

section {
  padding-top: 5rem;
}
